#panel-container {
	margin: 30px 0;
}

.container {
	margin: 20px;
}

.button-container {
	margin: 10px;
}

.btn {
	margin: 10px !important;
}

.booking-title {
	display: inline-block;
	padding: 5px;
	vertical-align: top;
}

.booking {
	border-top: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 5px;
}

.booking:first-of-type {
	border-top:none;
}

.booking-instructor-name {
	font-size:18px;
	line-height:21px;
	margin-top:5px;
	font-weight:normal;
}

.comment-count {
	cursor: pointer;
	border:1px solid #599388;
	display:inline-block;
	padding:5px;
}
.booking-date {
	border:1px solid #599388;
	display:inline-block;
	padding:5px;
	margin-left:5px;
}

.rounded {
	border-radius: 2px !important;
}

.list-group {
	opacity: 0;
	height: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.list-group.active {
	opacity: 1;
	height: 100%;
}