<div class="list-group-separator"></div>
<div class="list-group-item info">
	<div class="row-action-primary">
		<i class="mdi-editor-insert-comment"></i>
	</div>
	<div class="row-content">
		<div class="least-content">{{formatDate date}}</div>
		<h4 class="list-group-item-heading">By {{author.name}}</h4>
		<p class="list-group-item-text">{{body}}</p>
	</div>
</div>